.tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: bisque;
}

.task {
    background-color: lightblue;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}